# See https://help.github.com/ignore-files/ for more about ignoring files.

node_modules

npm-debug.log*
coverage
yarn-error.log

.rpt2_cache
.DS_Store
.cache
.eslintcache
dist
test.*

.vscode
types
temp
*.tgz
