body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  width: 200px;
  height: 100%;
}

.nav .ant-menu-item {
  height: 30px !important;
  line-height: 30px !important;
}

.content {
  flex: 1;
}

/*
  禁止双击选中文字
*/
.noSelect {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用 iOS Safari*/
  -webkit-user-select: none;
  /*webkit浏览器 Chrome/Safari/Opera*/
  -khtml-user-select: none;
  /*早期浏览器 Konqueror*/
  -moz-user-select: none;
  /*火狐 Firefox*/
  -ms-user-select: none;
  /*IE10 Internet Explorer/Edge*/
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

.ant-menu-title-content a {
  color: #555 !important;
}

/* .controller {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0 10px;
}

.row {
  margin: 10px 0;
} */
